framework:
    messenger:
        failure_transport: failed

        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    exchange:
                        name: auth_events
                        type: topic
                    queues:
                        user_events:
                            binding_keys: ['user.*']
                retry_strategy:
                    max_retries: 3
                    delay: 1000
                    multiplier: 2
                    max_delay: 0

            failed: 'doctrine://default?queue_name=failed'

        routing:
            App\Domain\Event\UserCreatedEvent: async

        default_bus: messenger.bus.default