parameters:
    app.url: '%env(APP_URL)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Domain/Entity/'
            - '../src/Domain/ValueObject/'
            - '../src/Application/DTO/'
            - '../src/Kernel.php'

    App\Application\Service\PasswordResetService:
        arguments:
            $appUrl: '%app.url%'