parameters:
    app.url: '%env(APP_URL)%'
    circuit_breaker.failure_threshold: 5
    circuit_breaker.timeout: 60

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Domain/Entity/'
            - '../src/Domain/ValueObject/'
            - '../src/Application/DTO/'
            - '../src/Kernel.php'

    App\Application\Service\PasswordResetService:
        arguments:
            $appUrl: '%app.url%'

    App\Application\Service\CircuitBreaker:
        arguments:
            $failureThreshold: '%circuit_breaker.failure_threshold%'
            $timeout: '%circuit_breaker.timeout%'